# List required packages in this file, one per line.
h5py
numpy
pandas
pyqtgraph>=0.12.2
pystackreg
scikit-image
scikit-learn
scipy>=1.7
tifffile
silx==0.15.2  # Keep pinned until the newer versions are compatible with xraylarch
xraylarch>=0.9.57
pyshortcuts
packaging
